$sm: 100%;
$md: 200%;
$lg: 500%;
$xl: 900%;
$xxl: 1000%;

@mixin sm {
  @media screen and (max-width: ($sm)) {
    @content;
  }
}
@mixin md {
  @media screen and (max-width: ($md)) {
    @content;
  }
}
@mixin lg {
  @media screen and (max-width: ($lg)) {
    @content;
  }
}
@mixin xl {
  @media screen and (max-width: ($xl)) {
    @content;
  }
}
@mixin xxl {
  @media screen and (max-width: ($xxl)) {
    @content;
  }
}
