.forgotPasswordPage {
  height: 100vh;
  width: 100%;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  background: var(--ustpColor);
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    height: 85vh;
    margin: auto;
    width: 60%;
    display: flex;
    justify-content: space-between;
    background: var(--ustpColor);
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 7px 50px rgb(214, 223, 213);

    .videoDiv {
      position: relative;
      display: flex;
      flex-basis: 50%; /* Set to 40% to make it smaller */
      width: 70%;
      height: 100%;
      padding: 0 1.5rem;
      text-align: center;
      justify-content: center;
      flex-direction: column;
      margin: auto;
      border-radius: 10px;
      overflow: hidden;


      video, .footerDiv {
        position: absolute;

      }

      video {
        height: 100%;
        width: 100%;
        object-fit: cover;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        border-radius: 10px;
      }

      
      .textDiv {
        position: relative;

        .title {
          color: var(--whiteColor);
          font-size: 35px;
          font-weight: 800;
        }

        .p {
          color: var(--whiteColor);
          padding: 1rem;
          font-weight: 300;
        }
      }

      .footerDiv {
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.248);
        padding: 0 1rem;
        height: 60px; /* Adjust height as needed */
        border-radius: 10px;
        backdrop-filter: blur(1px);
      }

      .text {
        color: var(--whiteColor);
        font-size: 12px;
        margin-right: 10px; /* Adjust spacing between text and button */
      }

      .btn {
        background-color: transparent;
        color: var(--ustpColor);
        padding: .5rem 1rem;
        border-radius: 10px;
        font-weight: 500;
        transition: .3s ease;
        font-size: 12px;
        cursor: pointer;
      }
    }

    .formDiv {
      flex-basis: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .headerDiv {
        text-align: center;
        margin-bottom: 2rem;

        h3 {
          font-size: 25px;
          color: var(--whiteColor);
          font-weight: 600;
        }
      }

      .form {
        display: grid;
        gap: 1rem;

        .inputDiv {
          position: relative;
          margin-bottom: 1rem;

          .input {
            position: relative;
            display: flex;
            align-items: center;
            background: var(--inputColor);
            padding: 0.8rem; /* Adjust padding to make the fields smaller */
            border-radius: 10px;

            input {
              flex: 1; /* Allow input to take remaining space */
              padding: 0.6rem; /* Adjust padding to make the fields smaller */
              font-size: var(--normalFontSize); /* Adjust font size as needed */
              background: var(--inputColor);
              border: none;
              border-radius: 10px;
              outline: none;
            }

            .input-icon {
              font-size: 1.5rem;
              color: var(--blackColor);
              cursor: pointer;
            }

            .icon-container {
              margin-right: 0.5rem;
            }
          }
        }

        .btn {
          width: 100%;
          padding: 0.8rem;
          background-color: var(--submitColor);
          border: none;
          border-radius: 10px;
          color: var(--whiteColor);
          font-size: 16px;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: var(--darkGreenColor);
          }
        }
      }
    }
  }
}
