.custom-legend {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin: 5px 15px;
  padding: 5px;
  border-radius: 8px;
  color: var(--text-light);
  flex-basis: 100%; 
}

.legend-color {
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

.legend-bottom {
  display: flex;
  justify-content: center;
}

body.dark-mode .legend-item {
  color: var(--text-dark);
}


@media (min-width: 576px) {
  .legend-item {
    flex-basis: 48%; 
  }
}


@media (min-width: 768px) {
  .legend-item {
    flex-basis: 30%; 
  }
}


@media (min-width: 1200px) {
  .legend-item {
    flex-basis: 22%; 
  }
}
