.window-rating-chart-card {
    background: #ffffff;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    transition: all 0.3s ease;
    color: var(--text-color-inverted);
    background: var(--background-color);


}

.window-rating-chart-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.window-rating-chart-title {
    font-size: 28px;
    font-weight: 600;
}

.window-select {
    background-color: var(--background-color);
    border: 2px solid var(--border-color);
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    color: var(--text-color);
    padding: 12px 2.5px;
    transition: all 0.3s ease;
    text-align: center;
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: var(--text-color-inverted);
  
}

.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.month-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    color: var(--text-color-inverted);
    background-color: var(--background-color-inverted);
 
}

.month-modal {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
    color: var(--text-color-inverted);
    background: var(--background-color);
}


.month-options {
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 7px;
    margin-top: 20px;
}

.month-options button {
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
    color: var(--text-color-inverted);
    background-color: var(--background-color-inverted);
}

.month-options button:hover {
    background-color: #e0e0e0;
    color: black;
}

.close-modal {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}