.window-rating-chart-card {
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 40px; /* Added margin-bottom for spacing */
}

.window-rating-chart-header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribute space evenly between the elements */
    margin-bottom: 20px;
}

.window-rating-chart-title {
    font-size: 24px;
    font-weight: bold;
}

.window-select {
    transition: all 0.3s ease;
    padding: 10px; /* Increase padding for a larger appearance */
    font-size: 16px; /* Increase font size */
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    min-width: 200px; /* Set a minimum width */
}

.window-select:focus {
    border-color: #8884d8; /* Matches one of the bar colors */
}

.rating-window-chart-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.rating-window-chart {
    display: flex;
    flex-direction: column;
    background: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
}

.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.window-name {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
