$dark-mode-scrollbar-color: #555; 

.log-history-container {
  margin: 20px;
  font-family: Arial, sans-serif;

  .log-table-container {
    overflow-y: auto;
    max-height: 400px; 
    scrollbar-width: thin; 
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent; 
    position: relative;
   
    .dark-mode & {
      color: #555;
      scrollbar-color: rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.05);
    }
  
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &:hover {
      &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
  }

  .log-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: 20px;

    th, td {
      flex-wrap: wrap;
      color: var(--text-color-inverted);
      padding: 16px;
      text-align: center;
    
      .dark-mode & {
        border-color: #3a3d52;
      }
    }

    .action-btn.edit {
      .dark-mode & {
        color: white;
      }
    }

    thead {
      position: sticky;
      top: 0;
      z-index: 2;
      background-color: #f2f2f2;

      th {
        position: sticky;
        top: 0;
        background-color: #f2f2f2;
        box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
      }
    }

    .dark-mode & {
      thead, th {
        background-color: #3a3d52;
      }
    }

    th {
      background-color: #f2f2f2;
      font-weight: bold;
  
      .dark-mode & {
        background-color: #3a3d52;
      }
    }

    a {
      color: #007bff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    tr {
      transition: background-color 0.3s ease;

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);

        .dark-mode & {
          background-color: rgba(255, 255, 255, 0.05);
        }
      }
    }

    .action-btn {
      border: none;
      background: none;
      cursor: pointer;
      padding: 5px;

      &.notify {
        color: green;
      }

      &.delete {
        color: red;
      }
      &:hover {
        opacity: 0.7;
      }

      svg {
        font-size: 1.2em;
      }
    }
  }

  .pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    .pagination {
      display: flex;
      list-style: none;
      padding: 15px;
      margin: 0;

      li {
        margin: 0 5px;

        a {
          cursor: pointer;
          padding: 8px 16px;
          border: 1px solid #ddd;
          color: #007bff;
          text-decoration: none;

          &:hover {
            background-color: #ddd;
          }
        }

        &.active a {
          font-weight: bold;
          background-color: #007bff;
          color: white;
          border: 1px solid #007bff;
        }

        &.disabled a {
          color: #6c757d;
          pointer-events: none;
          cursor: default;
        }
      }
    }

    .entries {
      font-size: 16px;
      color: #555;
      


      .dark-mode & {
        font-size: 16px;
        color: white;
      }
    }
  }

  .actions-column {
    display: flex;
    justify-content: center;
  }
}

.success-message {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    margin-right: 10px;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  .modal-content {
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: var(--text-color-inverted);

    
    h2 {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        margin-right: 10px;
      }
    }

    form {
      display: flex;
      flex-direction: column;
    }

    label {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      text-align: left;
      font-size: 15px;

      input {
        margin-top: 5px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 15px;
      }
    }

    .button-group {
      display: flex;
      justify-content: center;
      margin-top: 20px;

      button {
        margin: 0 10px; 
      }
    }

    button {
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s;

      &.save-btn, &.delete-btn {
        background-color: #4CAF50;
        color: white;

        &:hover {
          background-color: #45a049;
          opacity: 1;
        }
      }

      &.cancel-btn {
        background-color: #f44336;
        color: white;

        &:hover {
          background-color: #da190b;
          opacity: 1;
        }
      }
    }
  }
}

.delete-modal {
  .modal-content {
    text-align: center;

    p {
      margin-bottom: 20px;
    }

    .button-group {
      justify-content: center;

      button {
        margin: 0 10px;
      }
    }
  }
}

.dark-mode {
  .success-message {
    background-color: #2e7d32;
  }

  .modal .modal-content {
    background: #2c2c2c;
    color: #fff;

    input {
      background-color: #3a3a3a;
      color: #fff;
      border-color: #555;
    }

    button {
      &.save-btn, &.delete-btn {
        background-color: #388e3c;

        &:hover {
          background-color: #2e7d32;
          opacity: 1;
        }
      }

      &.cancel-btn {
        background-color: #d32f2f;

        &:hover {
          background-color: #c62828;
          opacity: 1;
        }
      }
    }

    
    
  }

  
}