.rating-chart-card {
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 40px; /* Added margin-bottom for spacing */
}

.rating-chart-header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribute space evenly between the elements */
    margin-bottom: 20px;
}

.rating-chart-title {
    font-size: 24px;
    font-weight: bold;
}

.month-select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.rating-chart-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
