
.container {
  display: flex;
}

.menuContainer {
  width: 250px;
  padding: 5px 20px;
  border-right: 2px solid $soft-bg;

  @include lg{
    width: max-content;
  }
}

.contentContainer {
  padding: 5px 20px;
  width: 100%;
}
