

.topBox {
  h1 {
    margin-bottom: 20px;

  }
  .list {
    .listItem {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;

      .user {
        display: flex;
        gap: 20px;

        .userTexts {
          display: flex;
          flex-direction: column;
          gap: 5px;

          .notification{
            font-size: 14px;
            font-weight: 500;
          }
          .minutes {
            font-size: 12px;
            color: #9f9f9f9e;

          }
          .purpose {
            font-size: 14px;
            font-weight: 500;
            color: #56bbfe;

          }
        }
      }

      .completed {
        font-weight: 500;
        color: #1fa308;
      }
    }
  }
}
