$dark-mode-scrollbar-color: #555; 

.staff-loghistory-container {
  margin: 20px;
  font-family: Arial, sans-serif;

  .log-table-container {
    overflow-y: auto;
    max-height: 550px; 
    scrollbar-width: thin; 
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent; 
    position: relative;
   
    .dark-mode & {
      color: #555;
      scrollbar-color: rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.05);
    }
  
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &:hover {
      &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
  }

  .log-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: 20px;

    th, td {
      flex-wrap: wrap;
      color: var(--text-color-inverted);
      padding: 16px;
      text-align: center;
    
      .dark-mode & {
        border-color: #3a3d52;
      }
    }

    .action-btn.edit {
      .dark-mode & {
        color: white;
      }
    }

    thead {
      position: sticky;
      top: 0;
      z-index: 2;
      background-color: #f2f2f2;

      th {
        position: sticky;
        top: 0;
        background-color: #f2f2f2;
        box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
      }
    }

    .dark-mode & {
      thead, th {
        background-color: #3a3d52;
      }
    }

    th {
      background-color: #f2f2f2;
      font-weight: bold;
  
      .dark-mode & {
        background-color: #3a3d52;
      }
    }

    a {
      color: #007bff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    tr {
      transition: background-color 0.3s ease;

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);

        .dark-mode & {
          background-color: rgba(255, 255, 255, 0.05);
        }
      }
    }

    .action-btn {
      border: none;
      background: none;
      cursor: pointer;
      padding: 5px;

      &.notify {
        color: green;
      }

      &.delete {
        color: red;
      }
      &:hover {
        opacity: 0.7;
      }

      svg {
        font-size: 1.2em;
      }
    }
  }

  .pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    .pagination {
      display: flex;
      list-style: none;
      padding: 15px;
      margin: 0;

      li {
        margin: 0 5px;

        a {
          cursor: pointer;
          padding: 8px 16px;
          border: 1px solid #ddd;
          color: #007bff;
          text-decoration: none;

          &:hover {
            background-color: #ddd;
          }
        }

        &.active a {
          font-weight: bold;
          background-color: #007bff;
          color: white;
          border: 1px solid #007bff;
        }

        &.disabled a {
          color: #6c757d;
          pointer-events: none;
          cursor: default;
        }
      }
    }
    

    .entries {
      font-size: 16px;
      color: #888;
    
      .dark-mode & {
        font-size: 16px;
        color: white;
      }
    }

  } 
  .actions-column {
    display: flex;
    justify-content: center;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.button-group {
  display: flex;
  justify-content: center; // Center align buttons horizontally
  align-items: center;     // Center align buttons vertically
  gap: 1rem;               // Space between buttons
  margin-top: 1.5rem;

  button {
    width: 115px;         // Fixed width for all buttons
    height: 40px;         // Fixed height for all buttons
    font-size: 1rem;      // Uniform font size
    border: none;         // Remove default borders
    border-radius: 4px;   // Rounded corners for consistency
    cursor: pointer;      // Pointer cursor for clickability
    transition: background-color 0.3s ease, color 0.3s ease; // Smooth transitions
    padding: 0;           // Ensures consistent sizing with fixed width/height
    display: flex;
    align-items: center;
    justify-content: center; // Align content horizontally and vertically

    .save-button {
      margin-bottom: 20px;
      background-color: #36af3c;
      color: white;

      &:hover {
        background-color: #008504;
      }
    
    }


    &.save-cancel-btn{
      margin-bottom: 20px;
      background-color: #f44336;
      color: white;

      &:hover {
        background-color: #da190b;
      }
    }
 
    &.cancel-btn {
      background-color: #36af3c;
      color: white;

      &:hover {
        background-color: #008504;
      }
    }

    &.delete-btn {
      background-color: #f44336;
      color: white;

      &:hover {
        background-color: #da190b;
      }
    }
  }
}

// Edit Log Modal Styles
.edit-log-modal {
  @extend .modal;

  .edit-log-content {
    background-color: #fff;
    border-radius: 8px;
    padding: 2rem;
    width: 100%;
    max-width: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
    font-weight: bold;

    .queue-label {
      color: #007bff;
      font-weight: bold;

      .dark-mode & {
        color: #007bff;
      }
    }

    h2 {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #333;

      svg {
        margin-right: 10px;
      }

      .dark-mode & {
        background-color: #3a3d52;
        color: #f2f2f2;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      label {
        display: flex;
        flex-direction: column;
        font-size: 0.9rem;
        color: #333;

        input {
          margin-top: 0.5rem;
          padding: 0.5rem;
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 1rem;

          &[readonly] {
            background-color: #f9f9f9;
            cursor: not-allowed;
          }

          .dark-mode & {
            background-color: #3a3d52;
            color: #f2f2f2;
          }
        }

        .dark-mode & {
          background-color: #3a3d52;
          color: #f2f2f2;
        }
      }
    }

    .save-button {
      margin-bottom: 20px;
      background-color: #36af3c;
      color: white;

      &:hover {
        background-color: #008504;
      }
    
    }

    .dark-mode & {
      background-color: #3a3d52;
    }
  }
 


}

// Delete Log Modal Styles
.delete-log-modal {
  @extend .modal;

  .delete-log-content {
    background-color: #fff;
    border-radius: 8px;
    padding: 2rem;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    h2 {
      margin: 0 0 1rem;
      font-size: 1.5rem;
      color: red;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      margin-top: 10px; // Add some space before the header
      svg {
        margin-right: 10px;
      }
      .dark-mode & {
        background-color: #3a3d52;
        color: red;
      }
    }

    p {
      font-size: 16px;
      color: #333;
      margin-bottom: 20px;
      text-align: center;

      .dark-mode & {
        background-color: #3a3d52;
        color: #f2f2f2;
      }
    }

    .delete-btn {
      background-color: #f44336;
      color: white;

      &:hover {
        background-color: #da190b;
      }

      

    }

    .dark-mode & {
      background-color: #3a3d52;
      color: #f2f2f2;
    }
  }
}
