/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Global Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root {
  /* Colors */
  --darkGreenColor: hsl(191, 74%, 15%);
  --inputColor: hsl(330, 12%, 97%);
  --submitColor: hsl(130, 55%, 45%);
  --darkBlueColor: hsl(246, 49%, 25%);
  --whiteColor: hsl(0, 0%, 100%);
  --ustpColor: #0f0a43;
  --blackColor: #000000;
  --blue-color: #475be8;
  --green-color: #4ce13f;
  --orange-color: #f29a2e;
  --red-color: #ef0606;
  --dark-color: #292929;
  --light-color: #ffffff;
  --glass: rgba(255, 255, 255, 0.54);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);

  /* Typography */
  --biggestFontSize: 2.5 rem;
  --h1FontSize: 1.5 rem;
  --h2FontSize: 1.25 rem;
  --h3FontSize: 1 rem;
  --normalFontSize: .938 rem;
  --smallFontSize: .813 rem;
  --smallestFontSize: .75 rem;
  --font-family-montserrat: "Montserrat", sans-serif;
  --font-family-manrope: "Manrope", sans-serif;
  --font-size: 16px;
  --line-height: 1.6;
  --font-weight: 400;

  /* Transition */
  --default-transition: all 300ms ease-in-out;

  /* Chart */
  --chart-primary-color: #475be8;
  --chart-secondary-color: #e6e6e6;

  /* Box Shadow */
  --light-shadow1: rgba(0, 0, 0, 0.02) 0px 4px 12px;
}

/* Color Mode Toggle Mixins */
@mixin lightMode {
  --primary-color: #475be8;
  --secondary-color: #fff;
  --background-color: #fafafa;
  --side-link-hover-color: #f6f6f6;
  --side-text-color: #808191;
  --logo-color: var(--primary-color);
  --xl-text-color: #292929;
  --lg-text-color: #525252;
  --base-text-color: #676767;
  --text-color-inverted: #292929;
  --bg-color-inverted: #ffffff;
  --border-color-inverted: #f6f6f6;
  --toggle-btn-border-color: #f3f3f3;
  --toggle-btn-bg-color: #fff;
  --toggle-btn-icon-color: var(--primary-color);
  --thead-bg-color: #f2f4ff;
  --tbl-border-color: #f2f4ff;
  --scroll-track-bg-color: #fff;
  --scroll-thumb-bg-color: #e9e9e9;
}

@mixin darkMode {
  --primary-color: #475be8;
  --secondary-color: #2e2e48;
  --background-color: #383854;
  --side-link-hover-color: #525270;
  --side-text-color: #e1e1e1;
  --logo-color: #fff;
  --xl-text-color: #ffff;
  --lg-text-color: #f3f3f3;
  --base-text-color: #e0e0e0;
  --text-color-inverted: #fff;
  --bg-color-inverted: #292929;
  --border-color-inverted: #575777;
  --toggle-btn-border-color: #525270;
  --toggle-btn-bg-color: #525270;
  --toggle-btn-icon-color: #bdbdbd;
  --thead-bg-color: #383854;
  --tbl-border-color: ##383854;
  --scroll-track-bg-color: #2e2e48;
  --scroll-thumb-bg-color: #575777;
}

/* Color Mode Toggle in Body */
body {
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size);
  font-weight: var(--font-weight);

  /* By default, light mode is on */
  @include lightMode();

  /* Add dark-mode class on the body if dark mode is set true */
  &.dark-mode {
    @include darkMode();
  }
}

/* Additional Global Styles */
a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  outline: 0;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

/* Theme Toggle Button */
.theme-toggle-btn {
  background-color: var(--bg-color-inverted);
  position: fixed;
  right: 0;
  top: 20px;
  width: 48px;
  height: 40px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: 0;
  z-index: 999;
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  .theme-icon {
    width: 24px;
  }
}

.page-wrapper {
  background-color: var(--background-color);
  min-height: 100vh;
  overflow: hidden;
}

.content-wrapper {
  background-color: var(--background-color);
  min-height: 100vh;
  padding: 50px 58px;
  margin-left: 260px;

  @media (max-width: 1400px) {
    padding: 32px;
  }

  @media (max-width: 1200px) {
    margin-left: 56px;
  }

  @media (max-width: 768px) {
    margin-left: 0;
    padding: 24px;
  }

  @media (max-width: 576px) {
    margin-left: 0;
    padding: 16px;
  }
}

/* Content */
.content-area {
  & > section {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.App {
  display: flex;
  position: relative;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
  gap: 1.5rem;
}

html {
  font-size: 90%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.icon {
  font-size: var(--h2FontSize);
  cursor: pointer;
}

img, video {
  height: auto;
  width: 100%;
}

.message {
  display: none;
}

.showMessage {
  display: block;
  color: var(--whiteColor);
  background: rgb(255, 0, 0);
  border-radius: 3px;
  text-align: center;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  padding: .8rem 1rem;
  color: var(--submitColor);
}

.btn .icon {
  margin-left: .5rem;
}

.loginPage, .registerPage{
  height: 100vh;
  width: 100%;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 7px 50px rgb(214, 223, 213);

  .container {
    height: 85vh;
    width: 60%;
    margin: auto;
    justify-content: space-between;
    border-radius: 10px;
    background: var(--ustpColor);
  }

  .videoDiv {
    position: relative;
    display: flex;
    flex-basis: 50%; /* Set to 40% to make it smaller */
    width: 70%;
    height: 100%;
    padding: 0 1.5rem;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;

    video, .footerDiv {
      position: absolute;
    }

    video {
      height: 100%;
      width: 100%;
      object-fit: cover;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }

    .textDiv {
      position: relative;

      .title {
        color: var(--whiteColor);
        font-size: 35px;
        font-weight: 800;
      }

      .p {
        color: var(--whiteColor);
        padding: 1rem;
        font-weight: 300;
      }
    }

    .footerDiv {
      bottom: 10px;
      padding: 0 1rem;
      height: 60px;
      background: rgba(255, 255, 255, 0.248);
      left: 10px;
      right: 10px;
      display: flex;
      justify-content: space-evenly;
      backdrop-filter: blur(1px);
      border-radius: 10px;

      .text {
        color: var(--whiteColor);
        font-size: 12px;
      }

      .btn {
        background-color: transparent;
        color: var(--ustpColor);
        padding: .5rem 1rem;
        border-radius: 10px;
        font-weight: 500;
        transition: .3s ease;
        font-size: 12px;
        width: auto;
        justify-content: space-evenly;
      }
    }
  }

  .formDiv {
    flex-basis: 70%; /* Set to 60% to make it bigger */
    margin: auto;
    flex-direction: column;
    gap: 1.5rem;
    transform: translateY(-1rem);

    .headerDiv {
      text-align: center;
      padding: 1.5rem 5rem;

      img {
        width: 60px;
        padding-bottom: .15rem;
        margin-top: 1rem;
      }

      h3 {
        font-size: 25px;
        color: var(--whiteColor);
        font-weight: 600;
        position: relative;
      }
    }

    .form {
      gap: 1rem;

      .inputDiv {
        position: relative;
        margin-bottom: 1rem; /* Optional: Adjust spacing between inputs */
        
        input {
          flex: 1; /* Allow input to take remaining space */
          background: none;
          outline: none;
          border: none;
          font-size: var(--normalFontSize); //* Adjust font size as needed 
          width: 280px;
        }

        .input {
          position: relative; /* Ensure icons are positioned relative to this container */
          display: flex;
          align-items: center;
          background: var(--inputColor); /* Added background color */
          padding: 1rem;
          border-radius: 10px;
        }

        .input {
          position: relative;
          display: flex;
          align-items: center;
          background: var(--inputColor);
          padding: 1rem;
          border-radius: 10px;
        }
        
        .input-icon {
          font-size: 1.5rem;
          color: var(--blackColor); // Adjust color as needed
        }

        .icon-container {
          margin-right: 0.5rem; /* Adjust spacing between icon container and input */
        }
        
        .left-icon.white-icon {
          color: var(--whiteColor); 
        }
      

      }

      .btn {
        padding: .8rem;
        background: var(--submitColor);
        border-radius: 10px;
        color: var(--whiteColor);
        align-items: center;
        margin: auto;
        justify-content: center;
        font-size: 16px;
        width: 100%;
        gap: .5rem;
        transition: .3s ease;
      }
    }

    /* Options container for Remember Me and Forgot Password */
    .options {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 1rem;
    
      .rememberMe {
        color: var(--whiteColor);

        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: 12px; /* Default font size */
        font-family: 'Montserrat', sans-serif; /* Font family */
        font-weight: 400; /* Font weight */    

        input[type="checkbox"] {
          accent-color: var(--submitColor);
        }
      }
    
      .forgotPassword {
        color: var(--whiteColor);
        text-decoration: underline;
        font-size: 12px; /* Default font size */
        font-family: 'Montserrat', sans-serif; /* Font family */
        font-weight: 400; /* Font weight */
      }
    }
   }
}
