@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import '~react-pro-sidebar/dist/scss/styles.scss';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


// default style
:root{
    --primaryColor: #141b2d;
    --paleGreen:hsl(96, 75%, 89%);
    --whiteColor:hsl(0, 0%, 100%);
    --blackColor:hsl(0, 0%, 0%);
    --greyText:hsl(0, 0%, 75%);
    --bgColor: #fcfcfc; /* Align with theme.js light mode background */
    --inputColor:hsl(330, 12%, 97%);
    --ustpColor: hsl(245, 74%, 15%);
    --greenColor: hsl(96, 88%, 35%);
    --yellowColor:linear-gradient(180 deg, #F8D49A -146.42%, #FAD79D -46 );
    --orangeColor:#fca61f;
    --purpleColor:linear-gradient(180 deg, #BB67FF 0%, #C484F3 100%);
    --pinkColor:#FF919D;
    --glass:rgba(255, 255, 255, 0.54);
    --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
    --activeItem:#f799a354;

    // font and topography
    --biggestFontSize: 2.5 rem;
    --h1FontSize: 1.5 rem;
    --h2FontSize: 1.25 rem;
    --h3FontSize: 1 rem;
    --normalFontSize: .938 rem;
    --smallFontSize: .813 rem;
    --smallestFontSize: .75 rem;



}


.App{
    display: flex;
    position: relative;
}


//sidebar container
.ps-sidebar-root{
    position: sticky !important;
    top: 0;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    border: 0 !important;
}

//sidebar text color
.ps-menu-root{
    color: white !important;
}

//hover over menuitems color
.ps-menu-button:hover {
    background-color: white  !important;
    color: black  !important;
}

//text and background color for submenu
.ps-submenu-content {
    color: black !important;
    background-color: white  !important;
}




.flex{
    display: flex;
    align-items: center;
}

.grid{
    display: grid;
    align-items: center;
    gap: 1.5 rem;
}

html{
    font-size: 90%;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.icon{
    font-size: var(--h2FontSize);
    cursor: pointer;
}

img, video{
    height: auto;
    width: 100%;
}

.message{
   display: none; //
}

.showMessage{
    display: block;
    color: var(--whiteColor);
    background: rgb(255, 0, 0) ;
    border-radius: 3px;
    text-align: center;

}

.btn{
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  padding: .8rem 1rem;
  color: var(--whiteColor);
}

.btn .icon{
    margin-left: .5rem;
}

// .btn .hover{
//     color: var(--hoverColor);
//     background: var(--paleGreen);
// }

.loginPage, .registerPage{
    height: 100vh;
    width: 100%;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 7px 50px rgb(214, 223, 213);


    .container{
        height: 85vh;
        width: 60%;
        margin: auto;
        justify-content: space-between;
        border-radius: 10px;
        background: var(--ustpColor);
    }


    .videoDiv{
        position: relative;
        display: flex;
        flex-basis: 50%;
        width: 70%;
        height: 100%;
        padding: 0 1.5rem;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        margin: auto;
        border-radius: 10px;
        overflow: hidden;


        video, .footerDiv{
            position: absolute;
        }


        video{
            height: 100%;
            width: 100%;
            object-fit: cover;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;

        }


        .textDiv{
            position: relative;

            .title{
                color: var(--whiteColor);
                font-size: 35px;
                font-weight: 800;

            }

            .p{
                color: var(--whiteColor);
                padding: 1rem;
                font-weight: 400;
            }
        }

        .footerDiv{
            bottom: 10px;
            padding: 0 1 rem;
            height: 60px;
            background: rgba(255, 255, 255, 0.248);
            left: 10px;
            right: 10px;
            justify-content: space-evenly;
            backdrop-filter: blur(1px);
            border-radius: 10px;


            .text{
                color: var(--whiteColor);
            }

            .btn {
                background: var(--whiteColor);
                color: var(--ustpColor);
                padding: .8rem 1.5rem;
                border-radius: 10px;
                font-weight: 400;
                transition: .3s ease;


                // &.hover{
                //     background: var(--primaryColor);
                //     color: var(--whiteColor);
                // }
            }
        }
    }

    .formDiv{
        flex-basis: 50%;
        margin: auto;
        flex-direction: column;
        gap: 1.5rem;
        transform: translateY(-1rem);


        .headerDiv{
            text-align: center;
            padding: 1.5rem 5rem;

            img{
                width: 60px;
                padding-bottom: .15rem;
                margin-top: 1rem;
            }

            h3{
                font-size: 25px;
                color: var(--whiteColor);
                font-weight: 600;
                position: relative;
                top: 1rem;
            }
        }


        .form{
            gap: 1rem;


            .inputDiv{
                .icon{
                    color: var(--blackColor);
                }

                input{
                    background: none;
                    outline: none;
                    border: none;
                    width: 200px;
                }

                label{
                    color: var(--whiteColor);
                    font-weight: 400;
                    font-size: 14px;
                    padding: .5rem 0;
                    display: block;
                }

                .input{
                    gap: .5rem;
                    padding: 1rem;
                    background: var(--inputColor);
                    border-radius: 10px;
                }
            }

            .btn{
                padding: .8rem;
                background: var(--greenColor);
                border-radius: 10px;
                color: var(--whiteColor);
                align-items: center;
                margin: auto;
                justify-content: center;
                font-size: 16px;
                width: 50%;
                gap: .5rem;
                transition: .3s ease;
                margin-top: 1rem;

                // .icon{
                //     font-size: 25px;
                //     transition: .3s ease;

                // }

                // &:hover{
                //     background: var(--paleGreen);
                //     color: var(--blackColor);


                //     .icon{
                //         color: var(--blackColor);
                //         transform: translateX(5px);
                //     }
                // }
            }


            .forgotPassword{
                font-size: 13px;
                color: var(--whiteColor);
                opacity: .7;
                text-align: center;

                a{
                    text-decoration: underline;
                    cursor: pointer;
                    opacity: 1;
                    color: var(--whiteColor);
                }


            }
        }

    }

}
