@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --primaryColor: #141b2d;
  --paleGreen:hsl(96, 75%, 89%);
  --whiteColor:hsl(0, 0%, 100%);
  --blackColor:hsl(0, 0%, 0%);
  --greyText:hsl(0, 0%, 75%);
  --bgColor: #fcfcfc; /* Align with theme.js light mode background */
  --inputColor:hsl(330, 12%, 97%);
  --ustpColor: hsl(245, 74%, 15%);
  --greenColor: hsl(96, 88%, 35%);
  --yellowColor:linear-gradient(180 deg, #F8D49A -146.42%, #FAD79D -46 );
  --orangeColor:#fca61f;
  --purpleColor:linear-gradient(180 deg, #BB67FF 0%, #C484F3 100%);
  --pinkColor:#FF919D;
  --glass:rgba(255, 255, 255, 0.54);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  --activeItem:#f799a354;
  --biggestFontSize: 2.5 rem;
  --h1FontSize: 1.5 rem;
  --h2FontSize: 1.25 rem;
  --h3FontSize: 1 rem;
  --normalFontSize: .938 rem;
  --smallFontSize: .813 rem;
  --smallestFontSize: .75 rem;
}

.App {
  display: flex;
  position: relative;
}

.ps-sidebar-root {
  position: sticky !important;
  top: 0;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  border: 0 !important;
}

.ps-menu-root {
  color: white !important;
}

.ps-menu-button:hover {
  background-color: white !important;
  color: black !important;
}

.ps-submenu-content {
  color: black !important;
  background-color: white !important;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
  gap: 1.5 rem;
}

html {
  font-size: 90%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.icon {
  font-size: var(--h2FontSize);
  cursor: pointer;
}

img, video {
  height: auto;
  width: 100%;
}

.message {
  display: none;
}

.showMessage {
  display: block;
  color: var(--whiteColor);
  background: rgb(255, 0, 0);
  border-radius: 3px;
  text-align: center;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 0.8rem 1rem;
  color: var(--whiteColor);
}

.btn .icon {
  margin-left: 0.5rem;
}

.loginPage, .registerPage {
  height: 100vh;
  width: 100%;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 7px 50px rgb(214, 223, 213);
}
.loginPage .container, .registerPage .container {
  height: 85vh;
  width: 60%;
  margin: auto;
  justify-content: space-between;
  border-radius: 10px;
  background: var(--ustpColor);
}
.loginPage .videoDiv, .registerPage .videoDiv {
  position: relative;
  display: flex;
  flex-basis: 50%;
  width: 70%;
  height: 100%;
  padding: 0 1.5rem;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
}
.loginPage .videoDiv video, .loginPage .videoDiv .footerDiv, .registerPage .videoDiv video, .registerPage .videoDiv .footerDiv {
  position: absolute;
}
.loginPage .videoDiv video, .registerPage .videoDiv video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.loginPage .videoDiv .textDiv, .registerPage .videoDiv .textDiv {
  position: relative;
}
.loginPage .videoDiv .textDiv .title, .registerPage .videoDiv .textDiv .title {
  color: var(--whiteColor);
  font-size: 35px;
  font-weight: 800;
}
.loginPage .videoDiv .textDiv .p, .registerPage .videoDiv .textDiv .p {
  color: var(--whiteColor);
  padding: 1rem;
  font-weight: 400;
}
.loginPage .videoDiv .footerDiv, .registerPage .videoDiv .footerDiv {
  bottom: 10px;
  padding: 0 1 rem;
  height: 60px;
  background: rgba(255, 255, 255, 0.248);
  left: 10px;
  right: 10px;
  justify-content: space-evenly;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  border-radius: 10px;
}
.loginPage .videoDiv .footerDiv .text, .registerPage .videoDiv .footerDiv .text {
  color: var(--whiteColor);
}
.loginPage .videoDiv .footerDiv .btn, .registerPage .videoDiv .footerDiv .btn {
  background: var(--whiteColor);
  color: var(--ustpColor);
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
  font-weight: 400;
  transition: 0.3s ease;
}
.loginPage .formDiv, .registerPage .formDiv {
  flex-basis: 50%;
  margin: auto;
  flex-direction: column;
  gap: 1.5rem;
  transform: translateY(-1rem);
}
.loginPage .formDiv .headerDiv, .registerPage .formDiv .headerDiv {
  text-align: center;
  padding: 1.5rem 5rem;
}
.loginPage .formDiv .headerDiv img, .registerPage .formDiv .headerDiv img {
  width: 60px;
  padding-bottom: 0.15rem;
  margin-top: 1rem;
}
.loginPage .formDiv .headerDiv h3, .registerPage .formDiv .headerDiv h3 {
  font-size: 25px;
  color: var(--whiteColor);
  font-weight: 600;
  position: relative;
  top: 1rem;
}
.loginPage .formDiv .form, .registerPage .formDiv .form {
  gap: 1rem;
}
.loginPage .formDiv .form .inputDiv .icon, .registerPage .formDiv .form .inputDiv .icon {
  color: var(--blackColor);
}
.loginPage .formDiv .form .inputDiv input, .registerPage .formDiv .form .inputDiv input {
  background: none;
  outline: none;
  border: none;
  width: 200px;
}
.loginPage .formDiv .form .inputDiv label, .registerPage .formDiv .form .inputDiv label {
  color: var(--whiteColor);
  font-weight: 400;
  font-size: 14px;
  padding: 0.5rem 0;
  display: block;
}
.loginPage .formDiv .form .inputDiv .input, .registerPage .formDiv .form .inputDiv .input {
  gap: 0.5rem;
  padding: 1rem;
  background: var(--inputColor);
  border-radius: 10px;
}
.loginPage .formDiv .form .btn, .registerPage .formDiv .form .btn {
  padding: 0.8rem;
  background: var(--greenColor);
  border-radius: 10px;
  color: var(--whiteColor);
  align-items: center;
  margin: auto;
  justify-content: center;
  font-size: 16px;
  width: 50%;
  gap: 0.5rem;
  transition: 0.3s ease;
  margin-top: 1rem;
}
.loginPage .formDiv .form .forgotPassword, .registerPage .formDiv .form .forgotPassword {
  font-size: 13px;
  color: var(--whiteColor);
  opacity: 0.7;
  text-align: center;
}
.loginPage .formDiv .form .forgotPassword a, .registerPage .formDiv .form .forgotPassword a {
  text-decoration: underline;
  cursor: pointer;
  opacity: 1;
  color: var(--whiteColor);
}/*# sourceMappingURL=App.css.map */